bg-mask-color = hsla(0, 0%, 0%, 0.8)

.untouchable
  -moz-user-select: none
  -webkit-user-select: none
  cursor: default

#kotodama-screen
  display: none
  background-color: transparent
  width: 100vw
  height: 100vh
  position: fixed
  left: 0
  top: 0
  z-index: 999
  transition: background-color 200ms
  &.activated
    background-color: bg-mask-color
  &.exist
    display: block
  #empty-alert
    color: hsl(0, 0%, 50%)
    margin-top: 50vh
    margin-left: 50vw
    transform: translate(-50%, -50%)
    font-size: 4.3em
    white-space: nowrap
  .kotodama
    background-color: hsla(0, 0%, 0%, 0.6)
    display: inline-block
    position: fixed
    left: 100vw
    padding: .2em 1em .2em 2em
    border-radius: 40% 10% 10% 40%
    white-space: nowrap