bg-mask-color = hsla(0, 0%, 0%, 0.8)

@keyframes flying-m
  0%
    transform: translateX(100vw)
  15%
    transform: translateX(59vw)
  85%
    transform: translateX(41vw)
  100%
    transform: translateX(-100%)

.untouchable
  -moz-user-select: none
  -webkit-user-select: none
  cursor: default

#kotodama-screen
  display: none
  background-color: transparent
  width: 100vw
  height: 100vh
  position: fixed
  left: 0
  top: 0
  z-index: 999
  transition: background-color 200ms
  &.activated
    background-color: bg-mask-color
  &.exist
    display: block
    .kotodama
      background-color: hsla(0, 0%, 0%, 0.6)
      display: inline-block
      position: fixed
      transform: translateX(100vw)
      font-size: 2em
      will-change: transform
      padding: .3em 1.2em .3em 2.2em
      border-radius: 70% 20% 20% 70%
      border-width: 1px
      border-color: gray
      border-style: solid
      white-space: nowrap
      animation-fill-mode: forwards
      animation-timing-function: linear
      &.flying-m
        animation-name: flying-m
  #empty-alert
    color: hsl(0, 0%, 50%)
    margin-top: 50vh
    margin-left: 50vw
    transform: translate(-50%, -50%)
    font-size: 4.3em
    white-space: nowrap